version: 2
updates:
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: daily
  - package-ecosystem: pip
    directory: "/.github/workflows"
    schedule:
      interval: daily
  - package-ecosystem: pip
    directory: "/"
    schedule:
      interval: daily
      time: "09:23"
      timezone: "Europe/Rome"
    # allow:
    # - dependency-type: "all"
    #   - dependency-type: "production"
    open-pull-requests-limit: 15
