exclude: ^src/clophfit/old/.
default_install_hook_types:
  - pre-commit
  - commit-msg

repos:

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        exclude: "^tests/EnSpire/|uv.lock"
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-merge-conflict
      - id: check-symlinks
      - id: destroyed-symlinks
      - id: check-yaml
      - id: check-toml
      - id: debug-statements
      - id: end-of-file-fixer
        exclude: "^tests/EnSpire/|^tests/Tecan/"
      - id: mixed-line-ending
        exclude: "^tests/EnSpire/|^tests/Tecan/"
      - id: name-tests-test
        args: [--pytest-test-first]
      - id: requirements-txt-fixer
      - id: detect-private-key
      - id: trailing-whitespace
        exclude: "^tests/EnSpire/|^tests/data/tmp/|^tests/Tecan/"
      - id: pretty-format-json
        args: [--autofix, --indent, "2", --no-sort-keys]
        exclude: \.ipynb$

  - repo: https://github.com/google/yamlfmt
    rev: v0.20.0
    hooks:
      - id: yamlfmt

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.8
    hooks:
      - id: actionlint

  - repo: https://github.com/executablebooks/mdformat
    rev: 1.0.0
    hooks:
      - id: mdformat
        additional_dependencies:
          - mdformat-gfm
        exclude: CHANGELOG\.md$

  - repo: https://github.com/ComPWA/taplo-pre-commit
    rev: v0.9.3
    hooks:
      - id: taplo-format
        # - id: taplo-lint

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff
        types_or: [python, pyi, jupyter]
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
        types_or: [python, pyi, jupyter]

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  # should be replaced in the future ref https://github.com/astral-sh/ruff/issues/458
  - repo: https://github.com/jsh9/pydoclint
    rev: 0.8.1
    hooks:
      - id: pydoclint

  - repo: https://github.com/crate-ci/typos
    rev: v1.39.2
    hooks:
      - id: typos
        # args: [] # Turn off automatic fixing
        stages: [pre-commit]
      - id: typos
        name: commit-msg-typos
        stages: [commit-msg]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
        args: [-x, --severity=style] # Show errors, warnings, info and style

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.11.0-1
    hooks:
      - id: shfmt # prebuilt upstream executable
        args: [-i, "4"] # Use 4 spaces for indentation

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.10
    hooks:
      - id: uv-lock
        stages: [pre-commit]
        always_run: true
        pass_filenames: false

  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.3.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: []
