exclude: ^src/clophfit/old/.
ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autofix_commit_msg: "style: pre-commit fixes"

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
        exclude: "^tests/EnSpire/|^docs/tutorials/LMfit.ipynb"
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-merge-conflict
      - id: check-symlinks
      - id: destroyed-symlinks
      - id: check-yaml # hyper
      - id: check-toml # hyper
      - id: debug-statements
      - id: end-of-file-fixer # hyper
        exclude: "^tests/EnSpire/"
      - id: mixed-line-ending
        exclude: "^tests/EnSpire/"
      - id: name-tests-test
        args: [--pytest-test-first]
      - id: requirements-txt-fixer
      - id: detect-private-key
      - id: trailing-whitespace # hyper
        exclude: "^tests/EnSpire/|^tests/data/tmp/"

  - repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
    rev: v2.10.0
    hooks:
      - id: pretty-format-ini
        args: [--autofix]
      - id: pretty-format-toml
        args: [--autofix]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.284
    hooks:
      - id: ruff
        # args: [--exclude, "src/clophfit/prenspire/*"]

  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black-jupyter
      - id: black
        require_serial: true

  - repo: https://github.com/asottile/blacken-docs
    rev: 1.15.0
    hooks:
      - id: blacken-docs
        additional_dependencies: [black]
        exclude: docs/tutorials/usage.*.rst

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.1
    hooks:
      - id: prettier
        types_or: [yaml, markdown, html, css, scss, javascript, json]
        args: [--prose-wrap=preserve]

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      # - id: python-check-blanket-noqa
      # - id: python-check-blanket-type-ignore # same as ruff PGH
      # - id: python-no-eval
      - id: python-use-type-annotations
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5 # Update me!
    hooks:
      - id: bandit
        args: ["-c", "bandit.yml"]
        # additional_dependencies: ["bandit[toml]"]

  - repo: https://github.com/terrencepreilly/darglint
    rev: v1.8.1
    hooks:
      - id: darglint
        stages: [manual]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
      - id: codespell

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.5
    hooks:
      - id: shellcheck
        args: [-x]

  - repo: https://github.com/commitizen-tools/commitizen
    rev: 3.6.0
    hooks:
      - id: commitizen
      - id: commitizen-branch
        stages: [push]
