exclude: ^src/clophfit/old/.
ci:
  autoupdate_commit_msg: "build(pre-commit): update hooks"
  autofix_commit_msg: "style: pre-commit fixes"

default_install_hook_types: [pre-commit, commit-msg]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        exclude: "^tests/EnSpire/"
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-merge-conflict
      - id: check-symlinks
      - id: destroyed-symlinks
      - id: check-yaml
      - id: check-toml
      - id: debug-statements
      - id: end-of-file-fixer
        exclude: "^tests/EnSpire/"
      - id: mixed-line-ending
        exclude: "^tests/EnSpire/"
      - id: name-tests-test
        args: [--pytest-test-first]
      - id: requirements-txt-fixer
      - id: detect-private-key
      - id: trailing-whitespace
        exclude: "^tests/EnSpire/|^tests/data/tmp/"

  - repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
    rev: v2.14.0
    hooks:
      - id: pretty-format-ini
        args: [--autofix]
      - id: pretty-format-toml
        args: [--autofix]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.5
    hooks:
      - id: ruff
        types_or: [python, pyi, jupyter]
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
        types_or: [python, pyi, jupyter]

  - repo: local
    hooks:
      - id: prettier
        name: prettier (YAML, Markdown, JSON, etc.)
        entry: npx prettier --write
        language: node
        types: [yaml, markdown, html, css, scss, javascript, json]
        args: [--prose-wrap=preserve]

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-use-type-annotations
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.3
    hooks:
      - id: bandit
        args: ["-c", "pyproject.toml"]
        additional_dependencies: ["bandit[toml]"]

  - repo: https://github.com/DanielNoord/pydocstringformatter
    rev: v0.7.3
    hooks:
      - id: pydocstringformatter

  - repo: https://github.com/jsh9/pydoclint
    rev: 0.6.5
    hooks:
      - id: pydoclint

  - repo: https://github.com/crate-ci/typos
    rev: v1
    hooks:
      - id: typos
        # args: [] # Turn off automatic fixing
        stages: [pre-commit]
      - id: typos
        name: commit-msg-typos
        stages: [commit-msg]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [-x]

  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.6.0
    hooks:
      - id: commitizen
      - id: commitizen-branch
        stages:
          - pre-push
