[tool.poetry]
name = "ClopHfit"
version = "0.3.3"
description = "Cli for fitting macromolecule pH titration or binding assays data e.g. fluorescence spectra."
authors = [
  "daniele arosio <daniele.arosio@cnr.it>"
]
license = "BSD-3-Clause"
readme = "README.rst"
homepage = "https://github.com/darosio/ClopHfit"
repository = "https://github.com/darosio/ClopHfit"
documentation = "https://clophfit.readthedocs.io"
keywords = [
  "svd",
  "ClopHensor",
  "data fitting",
  "pH",
  "macromolecule binding",
]
classifiers = [
  "Environment :: Console",
  "Operating System :: OS Independent",
  "Programming Language :: Python :: 3 :: Only",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Unix Shell",
  "Intended Audience :: Science/Research",
  "Topic :: Scientific/Engineering",
  "Development Status :: 3 - Alpha"
]
include = [
  "LICENSE.txt"
]

[tool.poetry.dependencies]
python = ">3.8; <3.11"
rpy2 = "^3.4.5"
seaborn = "^0.11.2"
lmfit = "^1.0.3"
numpy = "^1.17"
scipy = "^1.7.1"
pandas = "^1.3.3"
emcee = "^3.1.1"
corner = "^2.2.1"
tqdm = "^4.62.3"
sympy = "^1.9"
typer = {extras = ["all"], version = "^0.4.0"}
openpyxl = "^3.0.9"

[tool.poetry.dev-dependencies]
jupyter = "^1.0.0"
Sphinx = "^4.3.0"
ipykernel = "^6.5.0"
pytest = "^7.0.1"
flake8-isort = "^4.1.1"
flake8-annotations = "^2.7.0"
flake8-pytest-style = "^1.5.1"
flake8-comprehensions = "^3.7.0"
flake8-eradicate = "^1.2.0"
flake8-bugbear = "^22.1.11"
flake8-docstrings = "^1.6.0"
darglint = "^1.8.1"
flake8 = "^4.0.1"
coverage = "^6.1.2"
pytest-cov = "^3.0.0"
commitizen = "^2.20.0"
mypy = "^0.931"
black = "^22.1.0"
xdoctest = "^0.15.10"
Pygments = "^2.10.0"
pydata-sphinx-theme = "^0.8.0"
sphinx-autodoc-typehints = "^1.12.0"
nbsphinx = "^0.8.8"
ipython = "^8.1.0"
flake8-rst-docstrings = "^0.2.5"
readme-renderer = "^34.0"
sphinxcontrib-plantuml = "^0.23"

[tool.poetry.scripts]
"clop" = "clophfit.cli:run"

[tool.black]
line-length = 88
skip-string-normalization = true
exclude = '''
/(
    \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
)/
'''

[tool.commitizen]
name = "cz_conventional_commits"
version = "0.3.3"
tag_format = "v$version"
version_files = [
  "pyproject.toml:version",
  "src/clophfit/__init__.py:__version__",
  "docs/conf.py:release",
  "README.rst:Version",
  "CHANGELOG.rst",
]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
