name: CI

on:
  workflow_dispatch:
  pull_request:
  push:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  PYTHONUNBUFFERED: "1"
  FORCE_COLOR: "1"

jobs:
  pre-commit:
    name: Lint
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - name: Install pip and hatch
        run: |
          python -m pip install --constraint=.github/workflows/constraints.txt pip
          pip install --constraint=.github/workflows/constraints.txt hatch
          pip --version
          hatch --version
      - name: Run
        run: hatch run lint:run
      # - uses: pre-commit/action@v3.0.0
      #   with:
      #     extra_args: --hook-stage manual --all-files --show-diff-on-failure

  typeguard:
    name: Typeguard
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - name: Install pip, hatch and hatch-pip-deepfreeze
        run: |
          python -m pip install --constraint=.github/workflows/constraints.txt pip
          pip install --constraint=.github/workflows/constraints.txt hatch
          pip install --constraint=.github/workflows/constraints.txt hatch-pip-deepfreeze
          pip --version
          hatch --version
      - name: Run
        run: hatch run typeguard:run

  checks:
    name:
      Mypy and xdoctest ${{ matrix.python }} on ${{ startsWith(matrix.os,
      'macos-') && 'macOS' || startsWith(matrix.os, 'windows-') && 'Windows' ||
      'Linux' }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python: ["3.8", "3.9", "3.10", "3.11"]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
      - name: Install pip(-deepfreeze) and hatch
        run: |
          python -m pip install --constraint=.github/workflows/constraints.txt pip
          pip install --constraint=.github/workflows/constraints.txt pip-deepfreeze
          pip install --constraint=.github/workflows/constraints.txt hatch
          pip --version
          hatch --version
      - name: Run
        run: |
          hatch run tests.py${{ matrix.python }}:init # needed to use locked deps
          hatch run tests.py${{ matrix.python }}:type
          hatch run tests.py${{ matrix.python }}:xdoc

  tests:
    name: Tests Python-${{ matrix.python }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python: ["3.8", "3.9", "3.10", "3.11"]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
      - name: Install pip
        run: |
          python -m pip install --constraint=.github/workflows/constraints.txt pip
          pip --version
      - name: Install
        run: |
          pip install --constraint=requirements-tests.txt coverage[toml] pytest
          pip install --constraint=requirements.txt .
      - name: Run test
        run: |
          coverage run --parallel -m pytest

      - name: Upload coverage data
        uses: "actions/upload-artifact@v3"
        with:
          name: coverage-data
          path: ".coverage.*"

  coverage:
    runs-on: ubuntu-latest
    needs: tests
    steps:
      - name: Check out the repository
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"
      - name: Install pip and hatch
        run: |
          python -m pip install --constraint=.github/workflows/constraints.txt pip
          pip install --constraint=.github/workflows/constraints.txt hatch
          pip --version
          hatch --version
      - name: Download coverage data
        uses: actions/download-artifact@v3
        with:
          name: coverage-data
      - name: Create coverage report
        run: |
          hatch run coverage:combine
          hatch run coverage:report
          hatch run coverage:xml
      - name: Upload coverage report
        uses: codecov/codecov-action@v3.1.1
